*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


h2 {
    font-weight: normal;
}

body {

    /*ställer om rem från 16 px till 14*/
    font-size: 87.5%;


    min-height: 100vh;
    background-image: url("../images/enkatt.jpg");
    background-size: cover;
    background-position: center;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0rem 2rem 0rem;
    align-items: center;
    gap: 1rem;

    font-family: Arial,
        Helvetica,
        sans-serif
}

h1 {
    color: white;
    font-size: 2rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#activity-cards_section {

    /* background-color: rgba(178, 248, 180, 0.276); */

    padding: 0.5rem;
    width: 100%;
    max-width: 420px;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;

}


.activity-card {
    background-color: rgba(190, 190, 190, 0.6);
    border-radius: 1rem;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
    max-height: 420px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    text-align: center;
}

.card-content_container {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
    /* overflow-x: hidden; */
}

.card-item {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 0.5rem;
    padding: 0.5rem;
}


button {
    all: unset;
    color: white;
    background-color: rgba(190, 190, 190, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

button:hover {

    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(190, 190, 190);
}

#randomize-background_btn {
    color: #222222;
    margin-top: auto;
}

#randomize-background_btn:hover {
    color: whitesmoke;
}


.activity-card button:last-child {
    margin: auto
}

.label {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.3rem;
    padding: 0.3rem;
    display: inline-block;
}

textarea {
    all: unset;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 100%;
}

#date-and-time_section {
    background-color: rgba(190, 190, 190, 0.6);
    width: clamp(10%, 300px, calc(100% - 1rem));
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: auto;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#time-container {
    font-weight: bolder;
}

#date-container {
    color: #222222
}

#add-link_component {
    display: flex;
    /* background-color: #222ff2; */
    gap: 0.5rem;
}

#add-link-input_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    gap: 0.2rem;
}

#add-link-input_container>input,
#add-link-input_container>p {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}


input {
    all: unset;
    background-color: rgba(255, 255, 255, 0.5);
}

#add-link-buttons_container {
    display: flex;
}

#add-link-buttons_container button {
    width: max-content;
    font-size: smaller;
    margin: unset;
    margin-top: auto;
}

#confirm-add-Link_btn {
    background-color: rgba(0, 0, 0, 0.5);
    ;
}


/* ------------------------- */
/* KLASS FÖR ATT DÖKHJA ELEMENT MED JAVASCRIPT */

.hide {
    display: none;
}

/* ------------------------- */



@media (min-width: 650px) {

    #activity-cards_section {

        max-width: unset;
        grid-template-columns: repeat(auto-fit, 310px);
        justify-content: center;
    }

    /* .activity-card {
        min-height: 200px;
        max-width: 420px;
    } */

    .activity-card {
        height: clamp(250px, 60vh, 420px);
    }

}